<!-- Intro Content -->
  <div class="row">
      <div class="col-md-6">
          <img class="img-responsive" src="../images/social1.jpg" alt="">
      </div>
      <div class="col-md-6">
          <h2>About City Connect</h2>
          <hr>
          <br>
          <p class="about">At City Connect, we work every day to connect you with everything your city has to offer. Discovering new and exciting people and places that surround us is our passion. Our goal is to provide you with an unlimited amount of ways to get involved with your city, without the hassle of guessing, jumping from site to site and not knowing where to start.</p>
          <br>
          <p class="about">Whether you are looking for social events, new fitness buddies, volunteering opportunities or exploring learning something new, we strive to make sure you can find it all here!</p>
          <br>
          <p class="about">As a user of City Connect you can also add your event, place, meeting, location - the more the merrier!</p>
      </div>
  </div>

  <!-- /.row -->

    <!-- Team Members -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>John Smith<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
      <!-- /.row -->

      <!-- top places -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Popular Places in South Florida</h2>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/perez.png" alt="">
                <a href="http://pamm.org/"><p> Pérez Art Museum Miami </p> </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/newworld3.jpg" alt="">
                <a href="https://www.nws.edu/"><p> New world Symphony </p> </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/vspool4.jpg" alt="">
                <a href="http://www.coralgables.com/index.aspx?page=167"><p> Venetian Pools </p> </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/wynwood2.jpg" alt="">
              <a href="https://wynwoodmiami.com/"><p> Wynwood Art District </p> </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/meetup.jpeg" alt="">
                <a href="https://www.meetup.com/"><p> South Flordia Meetups </p> </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
              <img class="img-responsive customer-img" src="../images/linmall.jpg" alt="">
                <a href="http://lincolnroadmall.com/"><p> Lincoln Road Mall </p> </a>
          </div>
      </div>
      <!-- /.row -->

      <hr>
