<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../images/citypic1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Explore</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/citypic2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Meet</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/citypic4.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Discover</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header center header">
                    Welcome to City Connect
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="center"><i class="glyphicon glyphicon-pushpin"></i> Find: </h4>
                    </div>
                    <div class="panel-body center">
                        <p class="index2"> Start exploring your city here! </p>
                        <br>
                        <a href="/explore" class="btn btn-primary"> Explore </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="center"><i class="glyphicon glyphicon-plus"></i> Contribute: </h4>
                    </div>
                    <div class="panel-body center">
                        <p class="index2"> Add your event, place, meet-up, or group!</p>
                        <br>
                        <a href="/newEvent" class="btn btn-primary"> Add </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="center"><i class="glyphicon glyphicon-send"></i> Meet up:</h4>
                    </div>
                    <div class="panel-body center">
                        <p class="index2"> Get connected! </p>
                        <br>
                        <a href="#" class="btn btn-primary"> Social </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio Heading</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- Features Section -->


        <h2 class="page-header blue header2">City Connect Features</h2>

          <div class="row">
            <div class="col-md-6 features-info-text features-border">
                <h3 class="index">With City Connect you can discover everything your city has to offer in one place! </h3>
                <br>
                <ul class="index">
                    <li>Meet-Ups</li>
                    <li>Museums</li>
                    <li>Social Events</li>
                    <li>Volunteering</li>
                    <li>Groups</li>
                </ul>
                <br>
                <h3 class="index"> Start discovering the best places and events going on around you! </h3>
            </div>
            <div class="col-md-6">
                <img class="features-border img-responsive" src="../images/connect.jpeg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="index"><b>Connect, contribute, collaborate, and capture the moment!</b> </h4>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn btn-primary btn-block" href="/signup">Get started!</a>
                </div>
            </div>
        </div>

        <hr>
