<h2> Museum Results </h2>

<p> Your results for <b> Museum </b> search:</p>

<!-- <p> You searched for <i> <%= theSearch %> </i>. </p> -->

<ol>
  <!--how do I import from db? -->
</ol>

<img class="photos" src="/images/Museum.jpeg">
