<h2> Search City Connect </h2>

<p> Lets get started! Enter your zipcode or interest and let us take it from there!</p>
  <br>

<form method="get" action="/results">

  <label for="search-zipcode-input"> Search by Zipcode </label>
  <input  id="search-zipcode-input" type="number" name="zipcode">
  <br><br>
</form>

  <hr>
  <p> <b> Or ... </b> </p>
  <hr>
  <br>

<form method="get" action="/results">
  <input  id="interest-box" type="radio" name="interestBox" value="Museum">
  <label for="interest-box"> Interested in Museums? </label>
  <br><br>

  <input  id="interest-box2" type="radio" name="interestBox" value="Tech">
  <label for="interest-box2"> Interested in Tech? </label>
  <br><br>

  <input  id="interest-box3" type="radio" name="interestBox" value="Art">
  <label for="interest-box3"> Interested in Art? </label>
  <br><br>

  <input  id="interest-box4" type="radio" name="interestBox" value="Social">
  <label for="interest-box4"> Interested in Social events? </label>
  <br><br>

  <button class="btn btn-primary"> Lets go! </button>

</form>
