<h2> Search City Connect </h2>

<p> Lets get started! Enter your zipcode or interest and let us take it from there!</p>
  <br>

<form method="get" action="/results">

  <label for="search-zipcode-input"> Search by Zipcode </label>
  <input  id="search-zipcode-input" type="number" name="zipcode">
  <br><br>

  <hr>
  <p> <b> Or ... </b> </p>
  <hr>
  <br>

  <input  id="interest-box" type="checkbox" name="interestMuseum">
  <label for="interest-box"> Interested in Museums? </label>
  <br><br>

  <input  id="interest-box" type="checkbox" name="interestTech">
  <label for="interest-box"> Interested in Tech? </label>
  <br><br>

  <input  id="interest-box" type="checkbox" name="interestArt">
  <label for="interest-box"> Interested in Art? </label>
  <br><br>

  <button class="btn btn-primary"> Lets go! </button>

</form>
