<h2> Search City Connect </h2>
  <br>
<p> Lets get started! Enter your zipcode or interest and let us take it from there!</p>
  <br>

<form method="get" action="/results">

  <label for="search-zipcode-input"> Search by Zipcode </label>
  <input class="zip" id="search-zipcode-input" type="number" name="zipcode">
</form>

  <hr>
  <p class="index"> Or select one of these categories to get started:  </p>
  <hr>

<form method="get" action="/results">
  <input  id="interest-box" type="radio" name="interestBox" value="Museum">
  <label for="interest-box"> Interested in Museums? </label>
  <br><br>

  <input  id="interest-box2" type="radio" name="interestBox" value="Tech">
  <label for="interest-box2"> Interested in Tech? </label>
  <br><br>

  <input  id="interest-box3" type="radio" name="interestBox" value="Art">
  <label for="interest-box3"> Interested in Art? </label>
  <br><br>

  <input  id="interest-box4" type="radio" name="interestBox" value="Social">
  <label for="interest-box4"> Interested in Social events? </label>
  <br><br>

  <input  id="interest-box5" type="radio" name="interestBox" value="Fitness">
  <label for="interest-box5"> Interested in Fitness? </label>
  <br><br>

  <input  id="interest-box5" type="radio" name="interestBox" value="Volunteering">
  <label for="interest-box5"> Interested in Volunteering? </label>
  <br><br>

  <button class="btn btn-primary"> Lets go! </button>

</form>
