body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.photos {
  width: 400px;
  height: 200px;
}

.height {
  height: 450px;
  padding: 10px 15px;
  border-radius: 2px;
  margin: 10px 6%;
  max-width: 400px;
  vertical-align: middle;
  border: 2px solid #d6d6d6;
  display: block;
}
